on early-init
    mkdir /firmware 0771 system system
    symlink /data/tombstones /tombstones
    mount debugfs debugfs /sys/kernel/debug

on fs
    mount_all fstab.qcom

    # Keeping following partitions outside fstab file. As user may not have
    # these partition flashed on the device. Failure to mount any partition in fstab file
    # results in failure to launch late-start class.

    wait /dev/block/platform/msm_sdcc.1/by-num/p15
    mount ext4 /dev/block/platform/msm_sdcc.1/by-num/p15 /persist nosuid nodev barrier=1

    wait /dev/block/platform/msm_sdcc.1/by-num/p17
    mount ext4 /dev/block/platform/msm_sdcc.1/by-num/p17 /tombstones nosuid nodev barrier=1

on post-fs-data
   mkdir /data/tombstones 0771 system system
   mkdir /tombstones/modem 0771 system system
   mkdir /tombstones/mdm 0771 system system
   mkdir /tombstones/lpass 0771 system system
   wait /dev/block/platform/msm_sdcc.1/by-num/p1
   mount vfat /dev/block/platform/msm_sdcc.1/by-num/p1 /firmware ro shortname=lower,uid=1000,gid=1000,dmask=227,fmask=337
   start modem_link

service kickstart /system/bin/qcks l
    oneshot
    disabled

on property:ro.baseband=csfb
    wait /dev/ttyHSL1
    mkdir /data/qcks 0770 system system
    start kickstart

service modem_link /system/bin/sh /system/etc/init.qcom.modem_links.sh
    class main
    user root
    disabled
    oneshot

service mpdecision /system/bin/mpdecision --no_sleep --avg_comp
    class late_start
    user root
    disabled

service thermald /system/bin/thermald
    class late_start
    user root
    group root
    # AZL: We have our own thermal throttling in the kernel.
    disabled

service qseecomd /system/bin/qseecomd
   class late_start
   user system
   group system

service qrngd /system/bin/qrngd -f
    class late_start
    user root

on property:sys.radio.shutdown=true
   exec /system/bin/sh /system/etc/init.qcom.efs.sync.sh

service time_daemon /system/bin/time_daemon
   class late_start
   user root
   group root
